@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Quicksand:wght@300;400&display=swap&family=Chakra+Petch:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Quicksand', serif;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    --primary-color: #000;
    --secondary-color: #fff;
    min-height: 20vh;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px 1px #001d15;
    padding: 1em 0 1em 0;
    position: fixed;
    color: #000;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: height 400ms ease-in-out;
}

header h1,
h6 {
    font-family: 'Cinzel', serif;
}

h2 {
    font-family: 'Chakra Petch', serif;
    font-weight: bold;
    position: relative;
    color: #f83200;
    padding: 2em 0;
    text-align: center;
    z-index: 2;
}

h2::after {
    position: absolute;
    content: '';
    height: 80%;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('./beardimage.png');
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0.4;
}

header .tittle p {
    padding-left: 2em;
}

header.scrolled {
    --primary-color: #fff;
    --secondary-color: #000;
}

.logo {
    background: url('./beardimage.png');
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    background-color: rgba(136, 41, 7, 0.932);
    background-blend-mode: darken;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    line-height: 0.6;
    padding: 4px;
    box-shadow: 1px 0 3px 2px #b1a29f;
}

.logo h6 {
    font-size: 1.8em;
    color: #fff;
    text-shadow: #000 2px 2px 0px;
}

.letter-e {
    padding-left: 0.6em;
}

.logo p {
    font-style: italic;
    font-size: .7em;
}

header nav {
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 50px;
    width: 100%;
    background-color: var(--secondary-color);
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    display: block;
    padding: 0.3em 0.5em;
    color: var(--primary-color);
    border-top: 1px solid #000;
    font-size: 1.1em;
}

header nav ul li.active::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f83200;
}

.menu-alt {
    background-color: #ccc;
    position: absolute;
    top: calc(16vh + 2px);
    left: 0;
    width: 100%;
    margin-top: 1em;
    transition: transform 600ms ease-in-out;
    overflow: hidden;
}

.menu-alt ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-alt li {
    width: 100%;
    color: #fa3402ef;
    border-bottom: .5px solid #dddcdccc;
    padding: .5em 0;
    text-align: center;
    transition: transform 400ms;
}

.menu-alt li:hover {
    transform: scaleY(1.08);
    background-color: #dddcdccc;
}

.menu-alt li a {
    display: block;
    color: #fa3402ef;
}

.menu-alt.hide {
    transform: translateX(-100%);
}

.hamburger {
    position: absolute;
    top: 6em;
    left: 1em;
    width: 30px;
    cursor: pointer;
    z-index: 5;
    display: none;
    transition: 600ms ease-in-out;
}

.hamburger.menu-closed {
    /* left: unset; */
    /* right: 1em; */
    transform: translateX(calc(100vw - 2em - 30px));
}

.hamburger.menu-closed::before,
.hamburger.menu-closed::after {
    transform: translateX(0px);
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    transition: transform 1300ms;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    height: 4px;
    background-color: #000;
}

.hamburger::before {
    bottom: -5px;
    width: 27px;
    transform: translateX(3px);
}

.hamburger::after {
    bottom: -10px;
    width: 24px;
    transform: translateX(6px);
}

main {
    min-height: 200vh;
    width: 100vw;
    padding-top: 20vh;
    background-color: rgba(255, 255, 255, 0.76);
}

main>section {
    padding: 20vh 0 5vh 0;
}

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/3037244/pexels-photo-3037244.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900);
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
}

.home section {
    background: linear-gradient(-200deg, #000705f1, #000302d5, #811a01);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.home section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 500px;
    font-size: 2em;
    color: #fff;
}

.home section button {
    background: #f83200;
    border: none;
    padding: 1em 2em;
    color: #fff;
    border-radius: 3px;
    margin-top: 1em;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    overflow: hidden;
}

.home section button:hover {
    opacity: 0.9;
}

.home address {
    position: absolute;
    left: 2em;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 1px 1px 2px 1px#ccc, inset 1px 1px 2px 1px #ccc;
    border-radius: 5px;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home address i {
    cursor: pointer;
    color: #f83200;
}

main #services {
    background-color: #ffffff;
}

main #services div {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-gap: 2em;
}

main #services div article {
    background-color: #000a09a6;
    background-blend-mode: soft-light;
    background-size: 100% 100%;
    border-radius: 5px;
    transition: background 300ms;
    height: 200px;
    width: 280px;
    position: relative;
    border: 0px solid #fff;
    --extension: -200px;
    padding: 0 2em;
    cursor: pointer;
    pointer-events: painted;
}

main #services div article:first-child {
    background-image: url(https://images.pexels.com/photos/1805600/pexels-photo-1805600.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

main #services div article:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/1813346/pexels-photo-1813346.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

main #services div article:nth-child(3) {
    background-image: url(https://images.pexels.com/photos/8867483/pexels-photo-8867483.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

main #services div article:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/9799301/pexels-photo-9799301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

main #services div article:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/3230236/pexels-photo-3230236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

main #services div article:nth-child(6) {
    background-image: url(https://images.pexels.com/photos/7389085/pexels-photo-7389085.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

main #services div article::after,
main #services div article::before {
    position: absolute;
    content: '';
    border: 0px solid #f83200;
    transition: 400ms ease-in-out;
    border-radius: 5px;
}

main #services div article::after {
    top: 10px;
    left: 5px;
    width: calc(var(--extension) + 90px);
    height: var(--extension);
    border-width: 1px 0;
}

main #services div article::before {
    bottom: -15px;
    right: -10px;
    height: calc(var(--extension) + 10px);
    width: calc(var(--extension) + 80px);
    border-width: 0 1px;
}

main #services div article:hover {
    --extension: 200px;
    background-size: 99% 99%;
    background-color: rgba(0, 0, 0, 0.815);
}

main #services div article h3 {
    color: #f83200;
    padding: 1em 0;
}

main #services div article p {
    color: #fff;
    max-width: 250px;
}

#about section {
    margin: 0 auto;
    width: 600px;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 2em;
}

#about section article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    transition: 300ms linear;
}

#about section article div {
    min-height: 300px;
}

#about section article:nth-child(odd) .image {
    order: 2;
}

#about section article .image {
    background-size: 100% 100%;
    border-radius: 5px;
}

#about section article .text {
    padding: 1em;
}

#about section article:first-child .image {
    background-image: url('https://images.pexels.com/photos/3998389/pexels-photo-3998389.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article:nth-child(2) .image {
    background-image: url('https://images.pexels.com/photos/4663133/pexels-photo-4663133.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article:nth-child(3) .image {
    background-image: url('https://images.pexels.com/photos/5650025/pexels-photo-5650025.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article:nth-child(4) .image {
    background-image: url('https://images.pexels.com/photos/7109734/pexels-photo-7109734.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article p {
    line-height: 1.5;
}

#about section article h3 {
    padding-bottom: 1em;
}

#about section article:hover {
    box-shadow: 0px 4px 2px 0px #f83200;
}

#pricing {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

table {
    height: 500px;
    width: 400px;
    border: 0px solid #f83200;
    border-width: 1px 1px 0 0;
    border-spacing: 0;
}

th {
    background-color: #f83200;
    height: 3em;
}

td {
    padding-left: 2em;
    border: 0px solid #f83200;
    border-width: 0 0 1px 1px;
}

table tr {
    width: 100%;
    border: 1px solid #f83200;
}

cite {
    padding: 1em;
}

#booking {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#booking form {
    border: 1px solid #f83200;
    border-radius: 5px;
    min-height: 400px;
    width: 400px;
    line-height: 5;
    padding: 2em 2em;
}

form .main-label {
    font-weight: bold;
}

#booking form select {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: .5em 1em;
}

input[type="submit"] {
    padding: 0.6em 0;
    font-family: inherit;
    width: 100%;
    background-color: #f83200;
    border: none;
    border-radius: 3px;
    transition: opacity 300ms;
}

input[type="submit"]:hover {
    opacity: 0.9;
    cursor: pointer;
}

input[type="number"],
input[type="datetime-local"] {
    height: 25px;
}

input[type="checkbox"] {
    accent-color: #f83200;
}

#testimonials-section #testimonials {
    height: 60vh;
    position: relative;
    overflow: hidden;
    border: 1px solid #f83200;
    margin: 1em 2em;
}

#testimonials-section #testimonials article {
    position: absolute;
    top: 1em;
    left: 2em;
    right: 2em;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scaleY(0);
    transition: transform 400ms;
    transform-origin: bottom;
}

#testimonials-section .testimonial-text {
    max-width: 300px;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.testimonial-text::before,
.testimonial-text::after {
    content: '"';
    color: #f83200;
    position: absolute;
    height: 30px;
    width: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}

.testimonial-text::before {
    top: -10px;
    left: -10px;
}

.testimonial-text::after {
    bottom: -10px;
    right: 0;
}

#testimonials-section #testimonials article div p {
    text-align: center;
}

#testimonials-section #testimonials article.current {
    transform-origin: top;
    transform: scaleY(1);
}

#feedback-form fieldset {
    border: 1px #f83200 solid;
    width: 60%;
    height: 160px;
    margin: 2em auto;
    border-radius: 3px;
    padding-left: 2em;
}

#feedback-form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1em;
}

#feedback-form input:focus::placeholder {
    opacity: 0;
}

#feedback-form input:focus {
    border-width: 6px;
}

#feedback-form fieldset legend.anime {
    animation: fade 200ms forwards linear;
}

@keyframes fade {
    from {
        transform: translateY(60px);
    }
    to {
        transform: translateY(0px);
    }
}

#feedback-form input[type="submit"] {
    width: 50%;
    margin: 0 25%;
    border-radius: 40px;
}

footer {
    min-height: 20vh;
    background-color: rgb(255, 72, 0);
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    margin-top: 2em;
}

footer address ul {
    line-height: 1.2;
    padding: 1em 0 1em 2em;
}

footer h3 {
    text-align: center;
    padding-bottom: 1em;
}

footer article {
    border-left: 1px solid #000;
    padding-left: 4em;
    position: relative;
}

footer i,
footer a {
    color: #000;
}

footer li:hover {
    text-decoration: underline;
}

footer label {
    position: absolute;
    bottom: -2em;
    color: #fff;
}

@media (max-width:980px) {
    main #services div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px) {
    header nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .home article {
        padding-left: 5em;
    }
}

@media (max-width:670px) {
    main #services div,
    #about section article {
        grid-template-columns: 1fr;
    }
    #about section {
        width: 300px;
    }
    #about section article .image {
        order: 2;
    }
    footer {
        display: block;
    }
    footer address,
    footer article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer article {
        border: none;
    }
    main #services div article {
        --extension: 200px;
        background-size: 99% 99%;
        background-color: rgba(0, 0, 0, 0.815);
    }
}

@media (max-width:405px) {
    table,
    #booking form {
        width: 280px;
    }
    header {
        align-items: flex-start;
    }
    header h1 {
        padding-left: .5em;
    }
}