* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Quicksand', serif;
    overflow-x: hidden;
    --primaryColor: #091306;
    --secondaryColor: #bb7103;
    --grayColor: #f0f1f1;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #343434;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--primaryColor);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    background-color: var(--grayColor);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    transform-origin: top;
    transition: 500ms;
}

.loader div {
    height: 50px;
    width: 10px;
    background-color: var(--secondaryColor);
    transform-origin: top;
    animation: load 900ms linear infinite alternate-reverse;
}

.loaded.loader {
    transform: scaleY(0);
}

@keyframes load {
    to {
        transform: scaleY(0);
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
select,
textarea,
button {
    font-family: inherit;
    outline: none;
}

button {
    cursor: pointer;
    border: none;
}

.btn {
    padding: 1.3em 0;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    width: 200px;
    border-radius: 5px;
    display: block;
    text-align: center;
    transition: opacity 300ms linear;
}

header {
    height: 110px;
    width: 100vw;
    background-color: var(--primaryColor);
    padding: 1em 0;
    position: fixed;
    z-index: 10;
    transition: height 400ms ease-in-out;
}

header h1 {
    font-family: 'Satisfy', serif;
    position: relative;
    color: var(--secondaryColor);
}

.title {
    text-align: center;
}

.title p {
    color: var(--grayColor);
}

h2 {
    font-family: 'Plus Jakarta Sans', serif;
    font-weight: bold;
    position: relative;
    color: var(--primaryColor);
    padding: 2em 0;
    text-align: center;
    z-index: 2;
}

h2::after {
    position: absolute;
    content: '';
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('./assets/beardimage.png');
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0.4;
}

#to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    z-index: 100;
    transform: scale(2.5) translateX(300px);
    background: transparent;
    color: var(--secondaryColor);
    transition: transform 1s ease-in-out;
}

.scrolled #to-top {
    transform: scale(2.5) translateX(0px);
}

.main-nav {
    display: none;
}

.menu-alt {
    background-color: var(--grayColor);
    position: absolute;
    top: 88px;
    left: 0;
    width: calc(100vw - 2em);
    margin-top: 1.4em;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 600ms ease-in-out;
    pointer-events: none;
}

.menu-alt.show {
    pointer-events: all;
    transform: translateX(0);
    opacity: 1;
}

.menu-alt ul {
    flex-direction: column;
}

.menu-alt li {
    width: 100%;
    color: var(--primaryColor);
    border-bottom: .5px solid #dddcdccc;
    padding: .5em 1em;
}

.menu-alt li a {
    display: block;
}

.hamburger {
    position: absolute;
    top: 95px;
    left: 1em;
    width: 30px;
    height: 4px;
    background-color: var(--secondaryColor);
    cursor: pointer;
    z-index: 5;
}

.hamburger.menu-closed::before,
.hamburger.menu-closed::after {
    transform: translateX(0px);
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    transition: transform 600ms;
    height: inherit;
    background-color: inherit;
}

.hamburger::before {
    bottom: -5px;
    width: 27px;
    transform: translateX(3px);
}

.hamburger::after {
    bottom: -10px;
    width: 24px;
    transform: translateX(6px);
}

main>section {
    padding: 130px 0 1em 0;
}

.home {
    background-color: var(--grayColor);
    width: 100%;
    min-height: calc(100vh + 100px);
    position: relative;
}

.home img {
    display: none;
}

.hero {
    position: relative;
    z-index: 2;
    padding: 0px 1em 3em 1em;
}

.highlight {
    padding: 1.5em 0;
    font-size: 1rem;
}

.highlight p {
    color: var(--primaryColor);
    font-size: 1.5rem;
}

.highlight p:first-child {
    font-family: 'Plus Jakarta Sans', serif;
    color: var(--secondaryColor);
    font-size: 3rem;
    padding-bottom: .5em;
}

.hero button {
    color: var(--grayColor);
    background-color: var(--primaryColor);
    margin: 1.5em 0;
}

.hero button:hover {
    color: var(--primaryColor);
    background: var(--grayColor);
    border: 1px solid var(--secondaryColor);
}

#services div {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 2em;
}

.service-card {
    background-color: #000a09da;
    background-blend-mode: darken;
    background-size: 100% 100%;
    border-radius: 5px;
    transition: background 300ms;
    height: 250px;
    width: 280px;
    position: relative;
    padding: 0 1em 0 1.5em;
}

.service-card:first-child {
    background-image: url(https://images.pexels.com/photos/1805600/pexels-photo-1805600.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service-card:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/1813346/pexels-photo-1813346.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service-card:nth-child(3) {
    background-image: url(https://images.pexels.com/photos/8867483/pexels-photo-8867483.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service-card:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/9799301/pexels-photo-9799301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service-card:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/3230236/pexels-photo-3230236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service-card:nth-child(6) {
    background-image: url(https://images.pexels.com/photos/7389085/pexels-photo-7389085.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.service-card::after,
.service-card::before {
    position: absolute;
    content: '';
    border: 0px solid var(--primaryColor);
    transition: 400ms linear;
    border-radius: 5px;
}

.service-card::after {
    top: 7px;
    left: 2px;
    height: 100%;
    width: calc(100% + 15px);
    border-width: 1px 0;
    border-top-color: var(--secondaryColor);
    transform-origin: left;
    transition-delay: 200ms;
}

.service-card::before {
    left: 7px;
    bottom: -15px;
    height: calc(100% + 15px);
    width: calc(100% + 2px);
    border-width: 0 1px;
    border-left-color: var(--secondaryColor);
    transform-origin: bottom;
    transition-delay: 0;
}

.service-card:hover {
    background-size: 101% 101%;
}

.service-card:hover::after {
    transition-delay: 0;
    transform: scaleX(0);
}

.service-card:hover::before {
    transition-delay: 200ms;
    transform: scaleY(0);
}

#services h3 {
    color: var(--secondaryColor);
    padding: 1em 0 .5em 0;
    font-weight: normal;
}

.service-card p {
    font-size: .95rem;
    color: var(--grayColor);
    max-width: 250px;
}

#about section {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 4em;
}

.about-card {
    display: grid;
    grid-template-columns: 1fr;
}

.about-card div {
    min-height: 300px;
}

.image {
    position: relative;
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.text {
    padding: 1em;
}

.about-card {
    overflow: hidden;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.about-card.reveal {
    opacity: 1;
}

.about-card .image {
    transition: transform 400ms 200ms linear;
}

.about-card:nth-child(odd) .image {
    transform: translateX(100%) rotateX(90deg);
}

.about-card:nth-child(even) .image {
    transform: translateX(-100%) rotateX(90deg);
}

.about-card .text {
    transform: scale(0);
    transition: all 600ms linear;
}

.about-card.reveal .text,
.about-card.reveal .rotated,
.about-card.about-card.reveal .image {
    transform: unset;
}

.about-card p {
    line-height: 1.5;
}

.about-card h3 {
    padding-bottom: 1em;
    color: var(--secondaryColor);
    font-size: 1.5rem;
    font-weight: normal;
    position: relative;
    width: fit-content;
}

.about-card h3::after {
    position: absolute;
    content: '';
    bottom: .85em;
    left: 0;
    height: 3px;
    width: 40%;
    border-radius: 4px;
    background-color: var(--primaryColor);
}

#pricing {
    flex-direction: column;
    min-height: 50vh;
}

table {
    height: 400px;
    margin: 0 1em;
    width: 340px;
    border-right: 1px solid var(--primaryColor);
    border-spacing: 0;
}

th {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    font-weight: normal;
    height: 3em;
}

td {
    height: 20px;
    padding-left: 2em;
    border: 0px solid var(--primaryColor);
    border-width: 0 0 1px 1px;
}

table tr {
    width: 100%;
    border: 1px solid var(--primaryColor);
}

cite {
    padding: 1em;
}

#booking {
    min-height: 50vh;
    flex-direction: column;
}

#booking form {
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    min-height: 400px;
    width: 340px;
    margin: 0 1em;
    line-height: 3;
    padding: 2em 1em;
}

#bboking label {
    color: var(--primaryColor);
}

.book {
    margin: 1.3em auto 0 auto;
}

.book:hover,
.send:hover {
    opacity: 0.95;
}

select,
#seats,
#time {
    height: 40px;
    width: 95%;
    border-radius: 2px;
    border: 1px solid var(--primaryColor);
    display: block;
}

#seats {
    padding-left: 1em;
}

#testimonials {
    min-height: 60vh;
    padding: 1em;
    flex-wrap: wrap;
}

.testimonial {
    flex-direction: column;
    margin: 0 1em 4em 0;
    min-height: 220px;
    max-width: 400px;
    transform: rotateZ(70deg);
    opacity: 0;
    transform-origin: left;
    position: relative;
    background: transparent;
    animation: none;
}

.testimonial.show-test {
    animation: testimonial 800ms 200ms forwards;
}

@keyframes testimonial {
    0% {
        transform: rotateZ(50deg);
    }
    75% {
        transform: rotateZ(0deg);
    }
    90% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: unset;
    }
}

.testimonial::after,
.testimonial::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 3px;
}

.testimonial::after {
    bottom: -5px;
    background-color: var(--grayColor);
    box-shadow: .5px 0px .5px #ccccccd3, inset 0px .5px 5px #ccccccd3;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 63% 88%, 28% 100%, 44% 88%, 0 88%);
    z-index: -1;
}

.testimonial::before {
    bottom: calc(12% - 5.5px);
    background-color: #bb710365;
    z-index: -2;
}

.fa-thumbs-up {
    position: absolute;
    top: 1em;
    left: 1em;
    transform: scale(2.5);
    z-index: 4;
    color: #ccc;
    opacity: .3;
}

.testimonial-text {
    max-width: 600px;
    text-align: center;
    padding: 1em;
    position: relative;
    background: transparent;
}

.testimonial label {
    color: var(--secondaryColor);
}

.testimonial p {
    text-align: center;
}

.testimonial img {
    position: absolute;
    bottom: -40px;
    left: calc(28% - 50px);
    height: 50px;
    width: 50px;
    border: 1px solid var(--secondaryColor);
    border-radius: 50%;
}

#feedback-form {
    padding-bottom: 1em;
}

#feedback-form fieldset {
    border: 1px var(--primaryColor) solid;
    width: calc(100% - 4em);
    height: 160px;
    margin: 2em auto;
    border-radius: 3px;
    padding-left: 2em;
    color: var(--secondaryColor);
}

#feedback-form input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;
    font-size: 1em;
}

#feedback-form input:focus::placeholder {
    opacity: 0;
}

#feedback-form input:focus {
    border-width: 6px;
}

legend.anime {
    animation: fade 200ms forwards linear;
}

@keyframes fade {
    from {
        transform: translateY(60px);
    }
    to {
        transform: translateY(0px);
    }
}

.send {
    margin: 0 auto;
}

footer {
    min-height: 100px;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    margin-top: 2em;
}

footer address ul {
    max-width: 320px;
    display: flex;
    justify-content: flex-start;
}

footer article {
    padding: 1em 0;
}

footer p {
    padding-bottom: 1em;
    color: var(--grayColor);
}

footer i {
    color: var(--grayColor);
    padding-right: 1em;
}

footer p i {
    padding: 0 4px 0 0;
}

footer i:hover {
    opacity: .7;
}

@media (min-width:720px) {
    .hamburger,
    .menu-alt {
        display: none;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .title h1 {
        font-size: 2rem;
    }
    .main-nav {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 1em;
        width: 100%;
        color: var(--primaryColor);
        background-color: var(--grayColor);
        box-shadow: 0 .5px 1.5px var(--primaryColor);
    }
    header.scrolled {
        height: 100px;
    }
    .main-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-nav li {
        position: relative;
    }
    .main-nav a {
        display: block;
        padding: 0.3em 0.5em;
        font-size: 1.1em;
    }
    .main-nav li::before {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 2px;
        width: calc(100% - 4px);
        height: 2px;
        background-color: var(--secondaryColor);
        opacity: 0;
        transition: all 300ms linear;
    }
    .main-nav li:not(.active):hover:before {
        opacity: .5;
    }
    .main-nav li.active::before {
        opacity: 1;
    }
    .hero {
        padding: 4em 1em 3em 2em;
    }
    .highlight p:first-child {
        font-size: 3.6rem;
    }
    .highlight {
        width: 65vw;
    }
    .home img {
        display: block;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        position: absolute;
        top: 150px;
        right: 0;
        height: calc(114vh);
        width: 35vw;
    }
    #services div,
    .about-card {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-card {
        height: 400px;
        right: 0;
    }
    #about section {
        max-width: unset;
        width: 650px;
    }
    table,
    #booking form {
        min-width: unset;
        width: 450px;
    }
    .about-card:nth-child(odd) .image {
        order: 2;
    }
    footer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #feedback-form fieldset {
        max-width: 600px;
    }
}

@media (min-width:980px) {
    main #services div {
        grid-template-columns: repeat(3, 1fr);
    }
    #about section {
        width: 850px;
    }
}