@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Quicksand:wght@300;400&display=swap&family=Chakra+Petch:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Quicksand', serif;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select,
textarea,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
    border: none;
}

header {
    --primary-color: #000;
    --secondary-color: #fff;
    min-height: 80px;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding: 1em 0 1em 0;
    position: fixed;
    color: #000;
    z-index: 10;
    flex-direction: column;
    transition: height 400ms ease-in-out;
}

header h1,
h6 {
    font-family: 'Cinzel', serif;
}

h2 {
    font-family: 'Chakra Petch', serif;
    font-weight: bold;
    position: relative;
    color: #f83200;
    padding: 2em 0;
    text-align: center;
    z-index: 2;
}

h2::after {
    position: absolute;
    content: '';
    height: 80%;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('./beardimage.png');
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0.4;
}

.title {
    padding-left: 2em;
}

.title h1 {
    font-size: 2rem;
}

.title p {
    text-align: center;
}

header.scrolled {
    --primary-color: #fff;
    --secondary-color: #000;
}

.logo {
    background: url('./beardimage.png');
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    background-color: #fff;
    background-blend-mode: darken;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0;
    box-shadow: 1px 0 1px 2px #b1a29f;
}

.logo h6 {
    font-size: 2rem;
    color: #f83200;
    display: inline-block;
    text-shadow: #000 1px 1px 1px;
}

header nav {
    display: none;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.31);
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    display: block;
    padding: 0.3em 0.5em;
    color: var(--primary-color);
    font-size: 1.1em;
}

header nav ul li.active::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f83200;
}

.menu-alt {
    background-color: #fff;
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    margin-top: 1.4em;
    transform: translateX(-100%);
    transition: transform 600ms ease-in-out;
    overflow: hidden;
}

.menu-alt ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-alt li {
    width: 100%;
    color: #fa3402ef;
    border-bottom: .5px solid #dddcdccc;
    padding: .5em 0;
    text-align: center;
    transition: transform 200ms linear;
}

.menu-alt li:hover {
    transform: scaleY(1.05);
}

.menu-alt li a {
    display: block;
    color: #fa3402ef;
}

.menu-alt.show {
    transform: translateX(0);
}

.hamburger {
    position: absolute;
    top: 60px;
    right: 2em;
    width: 30px;
    cursor: pointer;
    z-index: 5;
}

.hamburger.menu-closed::before,
.hamburger.menu-closed::after {
    transform: translateX(0px);
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    transition: transform 600ms;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    height: 4px;
    background-color: #000;
}

.hamburger::before {
    bottom: -5px;
    width: 27px;
    transform: translateX(3px);
}

.hamburger::after {
    bottom: -10px;
    width: 24px;
    transform: translateX(6px);
}

main {
    min-height: 200vh;
    width: 100vw;
    padding-top: 70px;
    background-color: rgba(255, 255, 255, 0.76);
}

main>section {
    padding: 130px 0 5vh 0;
}

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/3037244/pexels-photo-3037244.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900);
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
}

.hero {
    background: linear-gradient(-200deg, #000705f1, #000302d5, #811a01);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.hero p {
    max-width: 800px;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}

p.highlight {
    color: #f83200;
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: .5em;
}

.hero button {
    padding: 1.4em 3em;
    color: #f83200;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    margin: 2.5em auto;
    position: relative;
}

.hero button:hover {
    opacity: 0.9;
}

#services {
    background-color: #ffffff;
}

#services div {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 2em;
}

#services div article {
    background-color: rgba(0, 0, 0, 0.815);
    background-blend-mode: soft-light;
    background-size: 100% 100%;
    border-radius: 5px;
    transition: background 300ms;
    height: 200px;
    width: 280px;
    position: relative;
    border: 0px solid #fff;
    --extension: 200px;
    padding: 0 2em;
    cursor: pointer;
    pointer-events: painted;
}

#services div article:first-child {
    background-image: url(https://images.pexels.com/photos/1805600/pexels-photo-1805600.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

#services div article:nth-child(2) {
    background-image: url(https://images.pexels.com/photos/1813346/pexels-photo-1813346.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

#services div article:nth-child(3) {
    background-image: url(https://images.pexels.com/photos/8867483/pexels-photo-8867483.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

#services div article:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/9799301/pexels-photo-9799301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

#services div article:nth-child(5) {
    background-image: url(https://images.pexels.com/photos/3230236/pexels-photo-3230236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

#services div article:nth-child(6) {
    background-image: url(https://images.pexels.com/photos/7389085/pexels-photo-7389085.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

#services div article::after,
#services div article::before {
    position: absolute;
    content: '';
    border: 0px solid #f83200;
    transition: 400ms ease-in-out;
    border-radius: 5px;
}

#services div article::after {
    top: 10px;
    left: 5px;
    width: calc(var(--extension) + 90px);
    height: var(--extension);
    border-width: 1px 0;
}

#services div article::before {
    bottom: -15px;
    right: -10px;
    height: calc(var(--extension) + 10px);
    width: calc(var(--extension) + 80px);
    border-width: 0 1px;
}

#services div article:hover {
    --extension: -200px;
    background-size: 99% 99%;
    background-color: #000a09a6;
}

#services div article h3 {
    color: #f83200;
    padding: 1em 0;
}

#services div article p {
    color: #fff;
    max-width: 250px;
}

#about section {
    margin: 0 auto;
    width: calc(100% - 2em);
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 4em;
}

#about section article {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    box-shadow: 0px 1px 2px #bb9890cc, inset 0px 1px 2px #bb9890cc;
}

#about section article div {
    min-height: 300px;
}

#about section article .image {
    background-size: 100% 100%;
    border-radius: 5px;
    width: 100%;
}

#about section article .text {
    padding: 1em;
}

#about section article:first-child .image {
    background-image: url('https://images.pexels.com/photos/3998389/pexels-photo-3998389.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article:nth-child(2) .image {
    background-image: url('https://images.pexels.com/photos/4663133/pexels-photo-4663133.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article:nth-child(3) .image {
    background-image: url('https://images.pexels.com/photos/5650025/pexels-photo-5650025.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article:nth-child(4) .image {
    background-image: url('https://images.pexels.com/photos/7109734/pexels-photo-7109734.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

#about section article p {
    line-height: 1.5;
}

#about section article h3 {
    padding-bottom: 1em;
}

#pricing {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

table {
    height: 500px;
    width: 300px;
    border: 0px solid #f83200;
    border-width: 1px 1px 0 0;
    border-spacing: 0;
}

th {
    background-color: #f83200;
    height: 3em;
}

td {
    padding-left: 2em;
    border: 0px solid #f83200;
    border-width: 0 0 1px 1px;
}

table tr {
    width: 100%;
    border: 1px solid #f83200;
}

cite {
    padding: 1em;
}

#booking {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#booking form {
    border: 1px solid #f83200;
    border-radius: 5px;
    min-height: 400px;
    width: 300px;
    line-height: 5;
    padding: 2em 2em;
}

form .main-label {
    font-weight: bold;
}

#booking form select {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: .5em 1em;
}

input[type="submit"] {
    padding: 1.3em 0;
    width: 100%;
    background-color: #f83200;
    border: none;
    border-radius: 3px;
    transition: opacity 300ms;
}

input[type="submit"]:hover {
    opacity: 0.9;
    cursor: pointer;
}

select,
input[type="number"],
input[type="datetime-local"] {
    height: 35px;
}

input[type="checkbox"] {
    accent-color: #f83200;
}

#testimonials {
    height: 60vh;
    position: relative;
    overflow: hidden;
    border: 1px solid #f83200;
    margin: 1em 2em;
}

#testimonials article {
    position: absolute;
    top: 1em;
    left: 2em;
    right: 2em;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scaleY(0);
    transition: transform 400ms;
    transform-origin: bottom;
}

.testimonial-text {
    max-width: 300px;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

.testimonial-text::before,
.testimonial-text::after {
    content: '"';
    color: #f83200;
    position: absolute;
    height: 30px;
    width: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
}

.testimonial-text::before {
    top: -10px;
    left: -10px;
}

.testimonial-text::after {
    bottom: -10px;
    right: 0;
}

#testimonials label {
    font-weight: bold;
}

#testimonials p {
    text-align: center;
}

#testimonials article.current {
    transform-origin: top;
    transform: scaleY(1);
}

#feedback-form fieldset {
    border: 1px #f83200 solid;
    width: 60%;
    height: 160px;
    margin: 2em auto;
    border-radius: 3px;
    padding-left: 2em;
}

#feedback-form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1em;
}

#feedback-form input:focus::placeholder {
    opacity: 0;
}

#feedback-form input:focus {
    border-width: 6px;
}

#feedback-form fieldset legend.anime {
    animation: fade 200ms forwards linear;
}

@keyframes fade {
    from {
        transform: translateY(60px);
    }
    to {
        transform: translateY(0px);
    }
}

#feedback-form input[type="submit"] {
    width: 30%;
    margin: 0 35%;
    padding: 1em 0;
    border-radius: 40px;
}

footer {
    min-height: 100px;
    background-color: rgb(255, 72, 0);
    display: block;
    padding: 1em 0;
    margin-top: 2em;
}

footer address ul {
    display: flex;
    justify-content: space-evenly;
}

footer h3 {
    text-align: center;
}

footer article {
    border-left: 1px solid #000;
    padding-left: 4em;
    position: relative;
}

footer i {
    color: #000;
    padding: 1em;
}

footer a:hover {
    opacity: .7;
    background-color: rgba(255, 255, 255, 0.342);
}

#to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    transform: scale(2.5) translateX(300px);
    border: none;
    outline: none;
    background: transparent;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

#to-top.show-top {
    transform: scale(2.5) translateX(0px);
    z-index: 100;
}

@media (min-width:670px) {
    .hamburger,
    .menu-alt {
        display: none;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .title h1 {
        font-size: 2rem;
    }
    header nav {
        display: block;
        position: absolute;
        bottom: -50px;
        right: 0;
        height: 50px;
        width: 100%;
        background-color: var(--secondary-color);
        transition: background 600ms ease-in-out;
    }
    .hamburger {
        display: none;
    }
    #services div,
    #about section article {
        grid-template-columns: repeat(2, 1fr);
    }
    #about section {
        width: 650px;
    }
    #about section article:nth-child(odd) .image {
        order: 2;
    }
    table,
    #booking form {
        width: 450px;
    }
    footer {
        display: flex;
        justify-content: space-evenly;
    }
    footer article {
        border: none;
    }
    main #services div article {
        --extension: 200px;
        background-size: 99% 99%;
        background-color: rgba(0, 0, 0, 0.815);
    }
}

@media (min-width:980px) {
    main #services div {
        grid-template-columns: repeat(3, 1fr);
    }
    #about section {
        width: 850px;
    }
}